bin/
data/err/parse_bad.slow5.index
data/exp/one_fast5/exp_1.slow5.index
data/exp/one_fast5/exp_1_default.blow5.idx
data/exp/two_rg/exp_default.blow5.bak
data/exp/two_rg/exp_default_gzip.blow5.bak
data/out/aux_array/
data/out/exp_1_default_add_duplicate.slow5
data/out/exp_1_default_add_empty.slow5
data/out/exp_1_default_add_empty.slow5.idx
data/out/exp_1_default_add_valid.slow5
data/out/exp_1_default_add_valid.slow5.idx
data/out/one_fast5/
data/out/two_rg/
data/out/unit_test_out_ascii
data/out/unit_test_out_binary
data/out/unit_test_out_empty
data/out/unit_test_out_fprint
data/out/unit_test_out_lossless
data/out/unit_test_out_press
data/out/unit_test_out_two_rg
endian_test
unit_test
unit_test_out.txt
data/big/
data/out/merge/
data/out/split/