---
name: Release simulation

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  ubuntu_14:
    name: ubuntu_14
    runs-on: ubuntu-16.04
    container: ubuntu:14.04
    steps:
    - name: install git
      run: sudo apt-get install -y software-properties-common && sudo add-apt-repository ppa:git-core/ppa && sudo apt-get update -y && sudo apt-get install git -y
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: install packages
      run: sudo apt-get update && sudo apt-get install -y zlib1g-dev libhdf5-dev gcc g++ autoconf automake make wget valgrind
    - name: env
      run: lsb_release -a &&  ldd --version && gcc --version && g++ --version
    - name: build release
      run: make release
